/* 
   MOVIL.CSS - Estilos base (Mobile First)
   Estos estilos se aplican a TODOS los dispositivos
    */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex; /*convierte el header en un contenedor flexbox */
    flex-direction: column; /* los elementos dentro del header se apilan verticalmente (uno debajo del otro). */
    flex-wrap: nowrap;/*los elementos no se moverán a otra línea aunque el espacio sea pequeño.*/
    background-color: rgb(25, 121, 189);
    color: white;
    padding: 10px; /*espacio interno*/
    text-align: center;
}

header h1{
    border: 0px solid black;
}

header figure{
    display: none; /*oculto en moviles, sino aparece tambien en el movil */
}

header nav { /*contenedor de enlaces de navegación, vertical en móviles.*/
    border: 0px solid black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

header nav a { 
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    border: 0px solid black;
}

header nav a:hover { /*cambia el estilo al pasar el cursor*/
    text-decoration: double;
    background-color: rgba(255, 255, 255, 0.1);
}

header button { /*botón rojo con bordes redondeados y cursor “pointer” para indicar clicable.*/
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(228, 110, 183);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main{ /*Cada sección dentro de main se apila verticalmente.*/
    display: flex; /*flex + flex-direction: column → todo el contenido principal se apila verticalmente en móviles.*/
    flex-direction: column;
    text-align: start; /*alinea el texto a la izquierda (o inicio de línea según idioma).*/
}

main nav{ /*caja de menú dentro del main.*/
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 10px;
    background-color: rgb(240, 111, 169);
    border-radius: 10px;
}

main nav h3 {
    display: flex;
    border: 0px solid black;
    margin-top: 10px;
    margin-bottom: 7px;
    color: rgb(186, 49, 118);   
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main nav a{ /*enlaces dentro del menú sin subrayado, con algo de padding.*/
    text-decoration: none;
    padding: 3.5px;
}

main section{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

main section h3{
    border: 0px solid red;
    display: flex;
    border: 0px solid black;
    margin-bottom: 5px;
    color: rgb(57, 57, 184);   
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main section h5{
    border: 0px solid red;
    display: flex;
    border: 0px solid black;
    /* margin-top: 10px; */
    margin-bottom: 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

main section p{
    border: 0px solid red;
    /* Comportamiento normal de un parrafo */
    display: block; 
    text-align: left;
}

main section p code{
    display: inline; /* para que no salte de linea */
    font-size: 1.1em; /* esto permite aumentar el texto un poco mas grande que el texto normal */
}

main section ul{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main section li{
    border: 0px solid red;
    margin-left: 25px;
    font-size: 11.6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main aside {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(51, 152, 218);
    color: white;
}

main aside h2{
    display: flex;
    margin-bottom: 10px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

main aside p{
    display: flex;
    margin-bottom: 15px;
}
main aside ul{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main aside li{
    border: 0px solid red;
    margin-left: 30px;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{ /*El footer se centra y organiza verticalmente.*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25, 121, 189) ;
    color: white;
    margin-top: 30px;
    padding: 20px;
}

footer h2{
    display: flex;
    padding-bottom: 15px;
}

footer nav{
    display: flex;
    gap: 10px;
    padding-bottom: 20px; 
}

footer nav a {
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: solid;
    text-decoration-color: white;
}

footer nav a button{
    display: block;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: rgb(243, 109, 200);
    color: white;
    border: 1px solid black;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer div h2{
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; /*solucion: cuando no se centra el texto, es eliminar todos los padding y se que solo con el padding heredero */
    margin-bottom: 10px;
}

footer div p{
    border: 0px solid red;
    display: flex;
    padding: 3px;
}
