/* ============================================
   MOVIL.CSS - Estilos base (Mobile First)
   Estos estilos se aplican a TODOS los dispositivos
   ============================================ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(0, 57, 97);
    color: white;
    padding: 10px;
    text-align: center;
}

header h1{
    border: 0px solid black;
}

header figure{
    display: none;
}

header nav {
    border: 0px solid black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

header nav a {
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    border: 0px solid black;
}

header nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
}

header button {
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    text-align: start;
}

main nav{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 10px;
    background-color: rgb(235, 234, 234);
    border-radius: 10px;
}

main nav h3 {
    display: flex;
    border: 0px solid black;
    margin-top: 10px;
    margin-bottom: 7px;
    color: rgb(57, 57, 184);   
    font-weight: 900;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main nav a{
    text-decoration: none;
    padding: 3.5px;
}

main section{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

main section h3{
    border: 0px solid red;
    display: flex;
    border: 0px solid black;
    margin-bottom: 5px;
    color: rgb(57, 57, 184);   
    font-weight: 900;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main section h5{
    border: 0px solid red;
    display: flex;
    border: 0px solid black;
    /* margin-top: 10px; */
    margin-bottom: 5px;
    color: black;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

main section p{
    border: 0px solid red;
    /* Comportamiento normal de un parrafo */
    display: block; 
    text-align: left;
}

main section p code{
    display: inline; /* para que no salte de linea */
    font-size: 1.1em; /* esto permite aumentar el texto un poco mas grande que el texto normal */
}

main section ul{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main section li{
    border: 0px solid red;
    margin-left: 25px;
    font-size: 11.6px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main aside {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(51, 152, 218);
    color: white;
}

main aside h2{
    display: flex;
    margin-bottom: 10px;
    font-weight: 900;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

main aside p{
    display: flex;
    margin-bottom: 15px;
}
main aside ul{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main aside li{
    border: 0px solid red;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(52, 72, 94);
    color: white;
    margin-top: 30px;
    padding: 20px;
}

footer h2{
    display: flex;
    padding-bottom: 15px;
}

footer nav{
    display: flex;
    gap: 10px;
    padding-bottom: 20px; 
}

footer nav a {
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

footer nav a button{
    display: block;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: rgb(44, 62, 80);
    color: white;
    border: 1px solid black;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer div h2{
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; /*solucion: cuando no se centra el texto, es eliminar todos los padding y se que solo con el padding heredero */
    margin-bottom: 10px;
}

footer div p{
    border: 0px solid red;
    display: flex;
    padding: 3px;
}
