* { /* poner a los 0 los margin y paddig de todos los elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* modelo de cajas */
}

body {
    min-height: 100vh; /* altura mínima del body al 100% de la ventana */;
    /* border: 0px solid black; */
    background-color: #eaf7ff;
    /* height: 100vh; altura del body al 100% de la ventana */
    /* min-height: 100vh; altura mínima del body al 100% de la entana */;
    /* max-height: 100vh; altura máxima del body al 100% de la ventana */
    /* width: 100vw; ancho del body al 100% de la ventana */
    /* min-width: 100vw; ancho mínimo al 100% de la ventana */
    /* max-width: 100vw; ancho máximo del body al 100% de la ventana*/
    font-family: Arial, Helvetica, sans-serif;
}
    /*h1 selectores de clase --> coinciden con la etiquta Html */
    /* border: 1px solid black; */
    /* width: 20vw; */
    /* display: inline; /* transformar un E.bloque en un E.linea */
    

header {
    height: 12vh; /* medidas absolutas */
   /* width: 50vw; */
    background-color: #2479ba;
    text-align: center;
    /* flexbox */
    display: flex; /* modelo de cajas flexibles: contenedor flexible */
    /* flex-direction: row; dirección de los ítems (FILA) */
    /* flex-wrap: nowrap; no permitir salto de línea entre ítmes */
    justify-content: space-between; /* alineación horizontal de los ítems */
    padding: 25px;
    color: white;



}
header figure {
    border: 2px solid rgb(193, 61, 156);
    height: 70%; /*porcentaje solo ocupado en el header */
    /* display: inline-block;*/
    /*margin-left: 20px;*/
    /* margin-right: 30px;*/
    padding: 5px;
    border-radius: 10px;
}
header figure img {
    height: 100%;

}


/* Selector descendiente */
header h1 {
    color: rgb(204, 13, 140);
    text-align: center;
    border: 2px solid rgb(16, 36, 117);
    /* display: inline-block; */
}

header nav {
    border: 0px solid black;
    text-align: center;
    padding: 10px;
}

header nav a {
    /* border:  1px solid  yellow;*/
    color: white;
    display: inline-block;
    margin-right: 12px;
    text-decoration: none; /* quitar el subrayado */
    font-size: 20px;
    border: 1px solid rgba(255, 255, 225, 0.7);
    padding: 10px;
    border-radius: 10px;
    /* display: block; */ /*transformar un E.linea en un E.bloque */
}

header nav a:hover {
    /* text-decoration: underline;  subrayado  al pasar el ratón */
    background-color: rgba(223, 223, 16, 0.5);
    transform: scale(1.05);
    
}

main {
    /* height: 78vh;
    background-color: lightgray;*/
    padding: 30px;
}

main section {
    margin-bottom: 40px;
    padding: 30px;
    background: #f6cece;
    border-radius: 12px;
}

main section:hover {
    transform: translateY(-4px);
}
h2 {
    margin-bottom: 18px;
    color: #024873;
    font-size: 1.8rem;
}

.proyectos-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}

.card {
background-color: #f9f9f9;
padding: 22px;
border-radius: 12px;
border-left: 5px solid #04b20c;
transition: 0.3s;
}

.card:hover {
transform: scale(1.04);
background-color: #ffffff;
box-shadow: 4px 12px rgba(0,0,0,0.2);
}

#servicios ul {
list-style: square inside;
padding-left: 12px;
}


#servicios li {
margin-bottom: 10px;
font-size: 1rem;
}

form {
display: flex;
flex-direction: column;
gap: 14px;
}
 input textarea {
padding: 12px;
border: 1px solid #8a8a8a;
border-radius: 8px;
font-size: 16px;
outline: none;
transition: 0.3s;
}

input:focus textarea:focus {
border-color: #2f5431;
box-shadow:  6px rgba(4, 178, 12, 0.4);
}

button {
padding: 14px;
background-color: #53738c;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 16px;
transition: 0.3s;
}


button:hover {
background-color: #47638d;
transform: scale(1.05);
}

footer {
    height: 10vh;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}