* { /* poner a 0 los margin y paddin de todos los elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* modelo de cajas */
}

body {
    min-height: 100vh; /* altura mínima del body al 100% de la ventana */;
    border: 0px solid black;
    background-color: aqua;
    height: 100vh; /* altura del body al 100% de la ventana */
    /*min-height: 100vh; /* altura mínima del body al 100% de la ventana */
    /* max-height: 100vh; /* altura máxima del body al 100% de la ventana */
  /*  width: 100vw; /* ancho del body al 100% de la ventana */
    /*min-width: 100vw; /* ancho mínimo del body al 100% de la ventana */
    /* max-width: 100vw; /* ancho máximo del body al 100% de */
}

header {
    height: 12vh; /* medidas absolutas */
    background-color: blue;
    text-align: center;
    /* header es un contenedor flexible */
    display: flex;
    flex-direction: row; /* dirección de los elementos hijos */
    flex-wrap: nowrap; /* todos los hijo en una SOLA LINEA */
    justify-content: space-between /* distribución horizontal de los elementos hijos */
}

header figure {
    border: 2px solid green;
    height: 100%;
}    
header figure img {
    height: 100%;
}
/* Selector descendiente */
header h1 {
    color: white;
    text-align: center;
    border: 5px solid red;
    display: flex;
    /* op 2 */
    flex-direction: column;
    justify-content: center;
    /* op1
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:flex-end; 
    */
}
header nav {
    text-align: center;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: row; /* dirección de los elementos hijos */
    flex-wrap: nowrap; /* todos los hijo en una SOLA LINEA */
    justify-content: space-around;
    align-items: center; /* alineación vertical de los elementos hijos */
}
header nav a {
    color: yellow;
    display: inline-block; /* transformar un E.Bloque en un ELinea  */
    margin-right: 20px;
    text-decoration: none; /* quitar el subrayado */
    font-size: 20px;;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
  /*  display: block; /* transformar un E.Linea en un E.Bloque  */
}
header nav a:hover {
    /*text-decoration: underline; /* subrayado al pasar el ratón */
    background-color: rgba(255, 255, 255, 0.5);
}

main {
    height: 78vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: row; /* dirección de los elementos hijos */
}
main nav{
    border:2px solid black;
    flex-basis: 20%;
}

main section {
    border:2px solid black;
    flex-basis: 60%;
}

main aside{
    border:2px solid black;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
main div#vistos {
    background-color: red;
    /* flexbasic =  height pq la propiedad flex-direction = column */
    flex-basis: 33.3%;
    order: 3;
}
main div#baratos {
    background-color: green;;
    flex-basis: 33.3%;
    order: 1;
}
main div#ofertas {
    background-color: yellow;;
    flex-basis: 33.4%;
    order:2;
}

footer {
    height: 10vh;
    background-color: gray;
    display: flex; /* contenedor flexible */
    flex-direction: row-reverse; /* eje ppal : fila */
    flex-wrap: nowrap; /* en la misma fila/linea */

}
footer nav{
    background-color: aqua;
    /* tamaño ancho o al */
    /* flexbasic =  width pq la propiedad flex-direction = row */ 
    flex-basis: 50%;
}
footer div {
    background-color: antiquewhite;
    flex-basis: 50%;
}