* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    display: grid;
    grid-template-areas: 
    "logo titulo registro"
    "oferta oferta oferta"
    "logo titulo titulo"
    "navppal navppal registro" ;
    grid-template-columns: 2fr 3fr 2fr 3fr;
    grid-template-rows: 60px 40px;
    gap: 5px;
    padding: 5px;
}
header .oferta{
   background-color: black;
   color: white;
   grid-area: oferta;
}

header figure {
    background-color: orange;
    grid-area: logo;
}

header h1{
    background-color: yellow;
    grid-area: titulo;
}


header button {
    background-color: rgb(228, 110, 183);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}