* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: blue;
    display: grid;
    grid-template-areas: 
    "logo titulo titulo registro"
    "navppal navppal  oferta oferta" ;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: 100px 100px;
    gap: 5px;
    padding: 5px;
}
header .oferta{
   background-color: black;
   color: white;
   grid-area: oferta;
}
header figure {
    background-color: orange;
    grid-area: logo;
}

header h1{
    background-color: yellow;
    grid-area: titulo;
}