

  .contenedor {
    max-width: 1100px;
    margin: auto;
  }

  .tarjeta {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo img {
    width: 60px;
  }

  .menu a {
    font-size: 18px;
  }



 


