header{
    padding: 15px 60px;
}

/* fila superior */

header nav.sociales{
    justify-content: flex-end;
}

header nav.numero,
header nav.login{
    justify-content: flex-end;
}

/* logo centrado */

header div.menu{
    justify-content: flex-start;
}

/* botones */

header div.buttons{
    justify-content: flex-start;
    gap: 20px;
}

header button.tipo1,
header button.tipo2{
    width: auto;
    padding: 12px 18px;
}

/* menú horizontal grande */

header nav.listado{
    justify-content: flex-start;
    gap: 40px;
    padding-left: 0;
    font-size: 1.1rem;
}
.propiedades{
    display: flex;
    justify-content: center;
}

.casa{
    max-width: 700px;
}



 


