*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER GENERAL */

header {
    background-color: rgb(229,229,255);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

/* redes sociales */

header nav.sociales{
    display: flex;
    justify-content: center;
    gap: 25px;
}

header nav.sociales a{
    color: grey;
    font-size: 18px;
}

/* telefono + login */

header nav.numero,
header nav.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

header nav.numero a,
header nav.login a{
    text-decoration: none;
    color: blue;
}

/* logo */

header div.menu{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 0;
}

header div.menu img{
    width: 65px;
    mix-blend-mode: multiply;
}

header div.textos h1{
    font-size: 1.4rem;
}

header div.textos p{
    font-size: 0.9rem;
    font-family:'Times New Roman', Times, serif;
}



header div.buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header button.tipo1,
header button.tipo2{
    background-color: rgb(206,206,229);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.85rem;
}



header div.icono{
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: rgb(122,122,126);
    cursor: pointer;
}

/* listado */

header nav.listado{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 10px;
}

header nav.listado a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

/* flechas */

header div.arrow{
    display: none; /* oculto en móvil */
}

/* MAIN */

main {
    padding: 15px;
}

main h4{
    font-size: 1.2rem;
}

section.propiedades{
    margin-top: 15px;
}

article.casa{
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
}

.casa img{
    width: 100%;
    display: block;
    border-radius: 4px;
}

/* info */

div.info-casa{
    padding: 10px 5px;
}

div.info-casa h3{
    font-size: 1rem;
    margin-bottom: 8px;
}

div.fila{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.precio{
    font-weight: bold;
}

.detalles{
    display: flex;
    gap: 15px;
    font-size: 0.9rem;
}
