
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f4f4;
}



.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background: #e9e9ff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

.contacto {
  font-size: 14px;
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #d6d6ff;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.contenedor {
  padding: 15px;
}


.tarjeta {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
}

.tarjeta img {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
