header nav.numero,
header nav.login{
    justify-content: flex-start;
}

header div.buttons{
    flex-direction: row;
    justify-content: space-between;
}

header button.tipo1,
header button.tipo2{
    width: 48%;
}

header nav.listado{
    flex-direction: row;
    justify-content: space-around;
}

header div.arrow{
    display: none;
}
.casa{
    max-width: 600px;
    margin: auto;
}
