

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .tarjeta {
    flex-direction: row;
  }

  .tarjeta img {
    width: 40%;
  }

  .datos {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }



 



