* { /* poner a los 0 los margin y paddig de todos los elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* modelo de cajas */
}

body {
    min-height: 100vh; /* altura mínima del body al 100% de la ventana */;
    border: 0px solid black;
    background-color: aqua;
    height: 100vh; /* altura del body al 100% de la ventana */
    /* min-height: 100vh; altura mínima del body al 100% de la entana */;
    /* max-height: 100vh; altura máxima del body al 100% de la ventana */
    /* width: 100vw; ancho del body al 100% de la ventana */
    /* min-width: 100vw; ancho mínimo al 100% de la ventana */
    /* max-width: 100vw; ancho máximo del body al 100% de la ventana*/
}
    /*h1 selectores de clase --> coinciden con la etiquta Html */
    /* border: 1px solid black; */
    /* width: 20vw; */
    /* display: inline; /* transformar un E.bloque en un E.linea */


header {
    height: 12vh; /* medidas absolutas */
   /* width: 50vw; */
    background-color: green;
    text-align: center;
    /* flexbox */
    display: flex; /* modelo de cajas flexibles: contenedor flexible */
    flex-direction: row; /* dirección de los ítems (FILA) */
    flex-wrap: nowrap; /* no permitir salto de línea entre ítmes */
    justify-content: space-between; /* alineación horizontal de los ítems */; 

}
header figure {
    border: 2px solid rgb(228, 42, 175);
    height: 50%; /*porcentaje solo ocupado en el header */
    display: inline-block;
    margin-left: 20px;
    margin-right: 30px;
}
header figure img {
    height: 100%;

}


/* Selector descendiente */
header h1 {
    color: white;
    text-align: center;
    border: 2px solid red;
    /* display: inline-block; */
}

header nav {
    border: 0px solid black;
    text-align: center;
    padding: 10px;
}

header nav a {
    border:  1px solid  yellow;
    color: yellow;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none; /* quitar el subrayado */
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    /* display: block; */ /*transformar un E.linea en un E.bloque */
}

header nav a:hover {
    /* text-decoration: underline;  subrayado  al pasar el ratón */
    background-color: rgba(255, 255, 0, 0.5);
    
}

main {
    height: 78vh;
    background-color: lightgray;
}

footer {
    height: 10vh;
    background-color: lightgrey;
}