* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex; /*organizar hijos*/
    flex-direction: column; /*columna hijos*/
    flex-wrap: nowrap;
    /* el alto seria la suma de los altos de los hijos */
    height: 300vh; /* altura fija de la ventana del navegador */

}

header{
    background-color: black;
    /* flex-basis: 5%; relativ*/
    height: 10vh; /* absoluto */
    display: flex;
    flex-direction: row; /*horizontal de izquierda a derecha*/
    flex-wrap: nowrap; /* todos los hijos en una línea no saltan*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

header div#menu{
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header #menu i{
    color: white;
    font-size: 28px

}
header figure{
    background-color:black;
    color: white;
    flex-basis: 20%;
    height: 100%; 
    align-items: center;
}
header figure img{
    height: 100%;
}
header form{
    flex-basis: 30%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
header form input{
    background-color:#2b2a2a;
    border: 1px solid #3e3c3c;
    padding: 6px;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav{
    /* border: 1px solid white; */
    flex-basis: 30%;
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-right: 1px solid #555;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav a:hover{
    color: none;
}
header nav a:first-child {
color: #d578d2;
}

header #carrito{
    /* border: 1px solid white; */
    color: white;
    flex-basis: 15%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: white;
}
/*
---elementos de linea: img, a, span, i input
---elementos de bloques: el resto de etiquetas de este codigo
*/
main{
    background-color: white;
    flex-basis: 65%;
    /* height: 75vh; */
    
    border: 2px solid black;
}
main section{ /* contenedor  */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* los hijos saltan a otra líena cuando no hay espacio */
    justify-content: space-around;
    gap: 20px;
}
main section article{ /* item */
    flex-basis: 20%; /* W/H segun el fleex-direction del padre */
    border: 1px solid black;
    display: flex; /* contenedor */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center;  
    position: relative;
  
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
    padding: 20px;
    transition: transform 0.2s ease-in;
}
main section article:hover{
    transform: translateY(-10px);
}

main section article p{
    color: red
}
main section article .badge{
    position: absolute; /* uso particular: efectos especiales */
    top: 5px;
    left: 5px;
    background-color: rgb(183,67,139);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    width: 50%;
    z-index: 10; /* profundidad atras/delante */
    /* margin-top: 5px;
    margin-left: 5px; */
}
main section article .nombre{
    color: blue
}

main section article figure{
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    position: relative;
}
main section article figure img{
    border: 0px solid blue;
    height: 100%;
    position: absolute;
    top: 0px;

}
main section article .tarjeta{
    text-decoration: none;
    color: inherit;
    display: block;
}
main section article .nombre{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main section article.features {
    margin-top: 3px;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
main section article.features span{
    border: 0px solid red;
    text-align: center;
    font-size: 10px;

}
main section article p {
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main section article p .star i {
    font-size: 10px;
    color: rgb(185, 241, 81);
    margin-right: 3px;
}
main section article p .valoracion {
    font-size: 10px;
    color: red;
    margin-right: 3px;
}

main section article p .opiniones{
    font-size: 10px;
    color: green;
}
main section article div {
   /* margin: 5px 0px 5px 0px;*/
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items: center;
    width: 100%;
}
main section article div .dto{
    background-color: rgb(183,67,139);
    color: black;
    padding: 2px;
    border-radius: 7px;
    font-size: 12px;
    height: 50%;
}
main section article div .precios{
    display: flex;
    flex-direction: column;
    border: 0px solid black
}
main section article div .precios .pvr {
    font-size: 14px;
    text-decoration: line-through;
    color: #777;
    
}
main section article div .precios .pvp {
    font-size: 1.2em;
    font-weight: bold;
}
footer{
    background-color: black;
    flex-basis: 30%;
    /* height: 20vh; */
    display: flex;
    flex-direction: row;
    /* mete todos los hijos en una fila */
    /* flex-wrap: nowrap;  */
    /* mete todos los hijos en varias fila */
    flex-wrap: wrap; 
}

footer nav#Sociales{
    border: 1px solid black;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
footer nav#Sociales a { /* estado reposo fotograma */
    text-decoration: none;
    border: 0px solid black; 
    background-color: lightgreen;
    /* elemento en linea pero con propiedades de bloque */
    display: inline-block;
    
    width: 50px;
    height: 50px;
    border-radius:50px;
    margin-right: 7px;;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.3s ease-in-out; 
}
/* estado sobre (fotograma) */
footer nav#Sociales a:hover {
    /* fecto de transformacion */
    transform: translate(0px, -10px);
    transform: rotate(360deg);
}
/* footer nav#sociales a:nth-child(1) {
    margin-left: 30px;
} */

footer nav#Sociales a i {
    font-size: 20px;
    color: white;
}
footer div#Suscribete {
    border: 0px solid black;
    flex-basis: 50%;
    margin-bottom: 15px;
    color: white;
}
footer div#Suscribete input {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}
footer article {
    border: 1px solid black;
    flex-basis: 33%;
    padding-top: 20px;
}
footer article h2 {
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px;
}
footer article nav {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
footer article nav a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}
footer article nav a:hover {
    color: rgb(218, 253, 111)
}
footer article nav a i {
    font-size: 20px;
    margin-right: 10px;
}

footer article nav a span {
    font-size: 18px;
    margin-right: 10px;
}

