* { /* poner a 0 los margin y paddin de todos los elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* modelo de cajas */
}

body {
    min-height: 100vh; /* altura mínima del body al 100% de la ventana */;
    border: 3px solid black;
    background-color: aqua;
    height: 100vh; /* altura del body al 100% de la ventana */
    /*min-height: 100vh; /* altura mínima del body al 100% de la ventana */
    /* max-height: 100vh; /* altura máxima del body al 100% de la ventana */
  /*  width: 100vw; /* ancho del body al 100% de la ventana */
    /*min-width: 100vw; /* ancho mínimo del body al 100% de la ventana */
    /* max-width: 100vw; /* ancho máximo del body al 100% de */
}

header {
    height: 12vh; /* medidas absolutas */
    background-color: blue;
    text-align: center;
    /* flexbox */
    display: flex; /* modelo de cajas flexibles: contenedor flexible */
    flex-direction: row; /* dirección de los ítems (FILA) */
    flex-wrap: nowrap; /* no permitir salto de línea entre ítems */
    justify-content: space-between  ; /* alineación horizontal de los ítems */;

}

header figure {
    border: 2px solid red;
    height: 100%;
}    
header figure img {
    height: 100%;
}
/* Selector descendiente */
header h1 {
    color: white;
    text-align: center;
    border: 2px solid red;
}
header nav {
    border: 0px solid black;
    text-align: center;
    padding: 10px;
    border: 2px solid red;
}

header nav a {
    color: yellow;
    display: inline-block; /* transformar un E.Bloque en un ELinea  */
    margin-right: 20px;
    text-decoration: none; /* quitar el subrayado */
    font-size: 20px;;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
  /*  display: block; /* transformar un E.Linea en un E.Bloque  */
}
header nav a:hover {
    /*text-decoration: underline; /* subrayado al pasar el ratón */
    background-color: rgba(255, 255, 255, 0.5);
}

main {
    height: 78vh;
    background-color: lightgrey;
    /* contenedor flexible */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
 /* hijos --> items */
main nav {
    border: 1px solid black;
    flex-basis: 10%;
    background-color: grey;
}
main section {
    border: 1px solid black;
    flex-basis: 70%;
    background-color: aqua;
}
main aside{
    border: 1px solid black;
    flex-basis: 20%;
    background-color: burlywood;
}



footer {
    height: 10vh;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

footer div {
    flex-basis: 50%;
    border: 1px solid red;
}