/* estructura de un selector css:
    nombre_del_selector { 
        propiedad1: valor;
        propiedad2: valor;
        propiedad3: valor;
        ...
        propiedadN: valor;
    }
*/
/* selector de tipo (etiqueta html) */
h1 {
    /* formatos a la fuente/letra */
    color:darkgoldenrod;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100; 
    font-style:oblique;
    text-decoration: overline;
    text-transform:capitalize;
    letter-spacing: 5px;
    word-spacing: 20px;
    /* formatos al párrafo */
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.3; /* interlineado */
    text-indent: 20px; /* sangría en la primera línea */
   /* margin: 20px 50px 30px 10px; /* margen superior, derecho, inferior, izquierdo */
    /*margin-left: 10px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 30px; */
   /* border: 5px solid rgb(138, 53, 8);
   /* border-top: 5px solid blue; */
   /* padding: 10px;*/
    margin: 20px;
    margin-right: 0px;
    /*border-right: 800px solid red;*/
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

    background-color: rgba(0, 0,255, 1);
    color: white;
}