main {
    grid-template-columns: 250px 1fr 300px;
    grid-template-areas: "menu contenido aside";
}

/* header más completo */
header {
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

header figure {
    display: block;
}

header nav {
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

/* footer en 2 columnas */
footer {
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

footer nav {
    grid-template-columns: repeat(4, auto);
}
