main {
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "menu contenido"
        "menu aside";
}

main nav {
    grid-area: menu;
}

main section {
    grid-area: contenido;
}

main aside {
    grid-area: aside;
}

/* HEADER en fila */
header {
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "titulo boton"
        "nav nav";
}

header h1 {
    grid-area: titulo;
}

header button {
    grid-area: boton;
}

header nav {
    grid-area: nav;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}
