* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* el alto seria la suma de los altos de los hijos */
    height: 300vh; /* altura fija de la ventana del navegador */

}

header{
    background-color: black;
    /* flex-basis: 5%; relativ*/
    height: 8vh; /* absoluto */
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header div#menu{
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header #menu i{
    color: white;
    font-size: 30px

}
header figure{
    background-color: rosybrown;
    color: white;
    /* flex-basis: 20%; */
    height: 100%; 
}
header figure img{
    height: 100%;
}
header form{
    flex-basis: 25%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
header form input{
   background-color:antiquewhite;
    padding: 6px;
    border-radius: 15px;
    font-size: 20px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav{
    /* border: 1px solid white; */
    flex-basis: 30%;
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header nav a{
    display: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav a:hover{
    color: rgb(218, 253, 111)
}

header #carrito{
    /* border: 1px solid white; */
    color: white;
    flex-basis: 10%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: white;
}

main {
    margin-top: 20px;
    padding: 20px;
}
nav a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
#producto {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
    align-items: center;
}

#imagen-producto img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#info-producto {
    max-width: 500px;
}

#info-producto h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

#info-producto p {
font-size: 16px;
color: #555;
}

footer{
    background-color: black;
    flex-basis: 30%;
    /* height: 20vh; */
    display: flex;
    flex-direction: row;
    /* mete todos los hijos en una fila */
    /* flex-wrap: nowrap;  */
    /* mete todos los hijos en varias fila */
    flex-wrap: wrap; 
}

footer nav#Sociales{
    border: 1px solid black;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
footer nav#Sociales a { /* estado reposo fotograma */
    text-decoration: none;
    border: 0px solid black; 
    background-color: lightgreen;
    /* elemento en linea pero con propiedades de bloque */
    display: inline-block;
    
    width: 50px;
    height: 50px;
    border-radius:50px;
    margin-right: 7px;;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.3s ease-in-out; 
}
/* estado sobre (fotograma) */
footer nav#Sociales a:hover {
    /* fecto de transformacion */
    transform: translate(0px, -10px);
    transform: rotate(360deg);
}
/* footer nav#sociales a:nth-child(1) {
    margin-left: 30px;
} */

footer nav#Sociales a i {
    font-size: 20px;
    color: white;
}
footer div#Suscribete {
    border: 0px solid black;
    flex-basis: 50%;
    margin-bottom: 15px;
    color: white;
}
footer div#Suscribete input {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}
footer article {
    border: 1px solid black;
    flex-basis: 33%;
    padding-top: 20px;
}
footer article h2 {
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px;
}
footer article nav {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
footer article nav a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}
footer article nav a:hover {
    color: rgb(218, 253, 111)
}
footer article nav a i {
    font-size: 20px;
    margin-right: 10px;
}

footer article nav a span {
    font-size: 18px;
    margin-right: 10px;
}