*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: 2px solid green; */
    /* el alto seria la suma de los altos de los hijos */
    height: 300vh; /* altura fija de la ventana */
}

header{
    background-color: black;
    /* flex-basis: 5%; relativo*/
    height: 8vh; /* absoluto */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

header div#menu{
    border: 0px solid white;
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header #menu i{
    color: white;
    font-size: 25px;

}

header figure{
    /*border: 0px solid white;*/
    background-color: rosybrown;
    /*flex-basis: 25%;*/
    height: 100%;
}
header figure img{
    height: 100%;
}

header nav{
    /* border: 1px solid white; */
    flex-basis: 30%;
    display: flex;
    flex-direction: row; /* eje principal */
    flex-wrap: nowrap;
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */

}

header nav a{
    display: none;
     color: white;
     text-decoration: none;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav a:hover{
    color: rgb(218, 253,111);
}

header form{
    flex-basis: 25%;
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}

header form input{
    background-color: antiquewhite;
    padding: 6px;
    border-radius: 15px;
    font-size: 20px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

header #carrito{
    border: 0px solid white;
    color: white;
    flex-basis: 10%;
    display: flex;
    flex-direction: row; /* eje principal */
    flex-wrap: nowrap; /*tres hijos en una misma línea */
    justify-content: space-around; /* alineación en el eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: white;
}
/*elementos de linea: img, a, span, i input (todos los hermanos van a la derecha)
Elementos de ploque: el resto de etiquetas de este equipo*/
main{
    background-color: white;
    flex-basis: 65%;
    /* height: 75vh */

    border: 2px solid black;

}
main section{ /* contenedor */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
}
main section article{ /* item */
    border: 1px solid black;
    display: flex; /* contenedor */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    flex-basis: 20%;/* W/H ancho alto segun el flex-direction del padre*/
    align-items: center;
    position: relative;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
    padding:20px;
    transition: transform 0.2s ease-in;


}
main section article:hover{
    transform: translateY(-10px);
}

main section article p{
    color: red;
}

main section article .badge{
    position: absolute; /* uso particula,solo para efectos especiales, por ejemplo para colocar un botón*/
    top: 5px;
    left: 5px;
    background-color: rgb(237,80,149);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    width: 50%;
    z-index: 10; /* profundidad atras/delante */
    /* margin-top: 5px;
    margin-left: 5px; */


}
main section article .nombre{
    color: blue;
}
main section article figure{
   /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 150px;
}
main section article figure img{
    border: 0px solid black;
    height: 100%;
    position: absolute;
    top: 0px;
   /* left: 10px; si tengo que poner el absolute y ya tenemos el center el left lo quitamos*/

}
main section article .nombre{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
main section article p {
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main section article p .star i{
    font-size: 10px;
    color: rgb(216, 216, 37);
    margin-right: 3px;
}
main section article p .valoracion{
    font-size: 10px;
    color: red;
    margin-right: 3px;

}
main section article p .opiniones{
    font-size: 10px;
    color: green;

}
main section article div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main section article div .dto{
    background-color:  rgb(237,80,149);
    color: black;
    padding: 2px;
    border-radius: 7px;
    font-size: 12px;
    height: 50%;
}
main section article .precios{
    display: flex;
    flex-direction: column;
    border: 0px solid black
}

main section article div .precion .pvr {
   font-size: 15px; 
}
main section article div .precios .pvp {
    font-size: 15px;
    font-weight: bold;
}

footer{
    background-color:black;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    /* mete todos los hijos en una fila*/
    /* flex-wrap: nowrap */
    /* mete todos los hijos en varias filas */
    flex-wrap: wrap;

}

footer nav#Sociales{
    border: 1px solid black;
    flex-basis: 50%;
    display: flex; /*siempre primero para centrar luego lo demás */
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;

}

footer nav#Sociales a{
   text-decoration: none;
   border: 0px black solid;
   background-color: lightgreen;
   display: inline-block; /*opciones de menú sobretodo, elemento en linea pero con propiedades de bloque */

   width: 50px;
   height: 50px;
   border-radius: 50px;
   margin-right: 7px; 
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   transition: transform 0.3s ease-in-out;
   
}
/*estado sobre (fotograma)*/
footer nav#Sociales a:hover{
    /*efecto de transformacion*/
    transform: translate(0px, -10px);
    transform: rotate(360deg);
}


/*footer nav#sociales a:nth-child(1) { /* esto es para uno de los elementos en este 
    caso el primer hijo, en vez de 
    meterle al padre el padding-left, se puede hacer esto
   margin-left: 30px;
} */

footer nav#Sociales a i{
   font-size: 30px;
   color: white;

}


footer div#Suscribete{
    border: 1px solid black;
    flex-basis: 50%;
}

footer article{
    border: 1px solid black;
    flex-basis: 33%;
    padding-top: 20px;
}

footer article h3{
    color:whitesmoke;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px ;

}

footer article nav{
    display: flex;
    flex-direction: column;
    margin-left: 25px;

}

footer article nav a{
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;

}
footer article nav a i{
    font-size: 25px;
    margin-right: 10px;
}

footer article nav span{
    font-size: 16px;
}